.table {
  background-color: white
}

.sub {background-color: #f6f7fb}

.filters,.search {
  margin: 10px 0 20px 20px;
  padding: 10px 20px;
  border: 0;
  background-color: white;
  font-weight: bold;
}

.search {
  color:white;
  background-color: #8EC03F;
}

.transactions {
  cursor: pointer;
}

.filters, .list-header, .sub-titles {
  color: #213D8F;
}